/* src/demo/global.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  /* background-color: var(--chakra-colors-chakra-body-bg); */
  background-color: aliceblue;
  color: var(--chakra-colors-chakra-body-text);
  transition: background-color 0.2s, color 0.2s;
}
